* {
    box-sizing: border-box;
}

html, body{
    background-color: #A2D253;
    font-family: 'Ubuntu', sans-serif;
}

#main{
    background-color: white;
    text-align: center;
    margin: auto;
    width: 72%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#title{
    text-align: center;
    text-decoration: underline;
}

#description{
    text-align: center;
}

.name-box{
    width: 175px;
    margin-left: 5px;
}
.email-box{
    width:200px;
    margin-left: 5px;
}
.age-box{
    width:75px;
    margin-left: 5px;
}

ul{
    list-style-type: none;
}

#submit{
    background-color: #A2D253;
    color: white;
    width: 150px;
    height: 50px;
}

footer{
    text-align: center;
    background-color: white;
    padding: auto;
    margin: auto;
    width: 72%;
}

button { 
    border: 1px solid black;
    font-size: 16px;
}

#submit:hover{
    background-color:#77aa23;
}
a {
    text-decoration: none;
    color: white;
}
